<table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Moneda</th>
            <th>Nro</th>
            <th>FechaDePago</th>
            <th>Monto</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movimiento of movimientos">
            <td>{{movimiento.Fecha}}</td>
            <td>{{movimiento.Cliente}}</td>
            <td>{{movimiento.Moneda}}</td>
            <td>{{movimiento.Nro}}</td>
            <td>{{movimiento.FechaDePago}}</td>
            <td>${{movimiento.Monto}}</td>
        </tr>
    </tbody>
</table>
