<form (ngSubmit)="onSubmit()">
    <fieldset class="form-control">
        <label for="nombre">Nombre</label>
        <input 
            type="text"
            name="nombre"
            id="nombre"
            placeholder="Agrega El Nombre de la Cuenta"
            [(ngModel)]="nombre"
            >
        <label for="fecha">Fecha</label>
        <input 
            type="datetime-local"
            name="fecha"
            id="fecha"
            placeholder="Agrega la Fecha del Movimiento"
            [(ngModel)]="fecha"
            >
    </fieldset>
    <input type="submit" value="Crear">
</form>